/**************************************************
 * GENERAL
 **************************************************/

a {
	color:rgb(128, 189, 36);
}

a:hover {
	color:green;
}

.form-alert {
	color: red;
}

h1 {
	margin-top: 20px;
}

h2 {
	margin-top: 20px;
}

/**************************************************
 * NAVBAR
 **************************************************/

.DollarsBankLogo {
	text-decoration: none;
	font-weight: bold;
	color:greenyellow;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: x-large;
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	line-height: 50px;
}

.DollarsBankLogo:hover {
	color:greenyellow;
}

#navbar {
	background-color: #1f1f1f;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	/* position: fixed; */
	top: 0;
	z-index: 999;
 }

.nav-link {
	color: white;
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	line-height: 50px;
}

.nav-link:hover {
	color:greenyellow;
}

.vl {
	margin-left: 20px;
	margin-right: 20px;
	border-left: 2px solid gray;
	/* height: 50px; */
}

#navbarmessage {
	font-style: italic;
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	line-height: 50px;
}

/**************************************************
 * NAVBAR
 **************************************************/

.balance {
	font-size:100px;
	color:green;
}

.balance-display {
	padding: 20px;
	text-align: center;
 }

 .balance-label {
	 color:lightgray;
	 letter-spacing: 5px;
 }